.container {
  max-width: 52.5rem;
  width: 100%;

  margin: 0 auto;
  padding: 0 20px;
}

main {
  width: 100%;
  margin-top: 4.625rem;

  .movies-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3.75rem;
    list-style: none;
  }

  @media (max-width: 900px) {
    .movies-list {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }
  }
}
