footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    background: var(--background2);
    & div {
      text-align: center;
    }
  }
  footer a {
    text-decoration: none;
    color: #8257e5;
    font-weight: bold;
  }
  .footer-emoji-heart {
    color: red;
  }
  